<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Demo WebRTC</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Xin chào các bạn</h1>
	<hr>
	<video src="" id="localStream" controls width="300"></video>

</body>

<script>
	navigator.mediaDevices.getUserMedia({ audio: false, video: true })
	.then(stream =>{
		// console.log(stream);
		const video = document.getElementById("localStream");
		video.srcObject = stream;
		video.onloadedmetadata = function(e) {
		    video.play();
		};
	})
	.catch(err => console.log(err));
</script>
</html>