<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Demo WebRTC</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Xin chào các bạn</h1>
	<br/><br/>
	<video src="" id="localStream" controls width="300"></video>
	<br/><br/>
	<label for="">My Token</label>
	<br/><br/>
	<textarea  id="txtMySignal" cols="200" rows="10"></textarea>
	<br/><br/>
	<input type="text" id="txtFriendSignal" placeholder="your friend signal " >
	<br/><br/>
	<button id="btnConnect">Connect</button>
</body>

<script src="bundle.js"></script>
</html>
